@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body{
    background-color: lightgray;
    margin: 0px;
    padding: 0px;
}

#logo{
    text-decoration: none;
    color: white;
}

nav{
    background-color: green;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: left;
}

#nav-top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#nav-top li{
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    padding: 5px;
}

#nav-top li a{
    text-decoration: none;
    color: white;
}

#nav-top li a:hover{
    color: rgba(196, 195, 195, 0.815);
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
}
