h1, p{
    font-family: 'roboto', sans-serif;
}

article{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    margin: 20px auto;
    width: 50%;
}

#post-title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

#post-content{
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

#post-author{
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}